<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.SystemInfo.Example\Orc.SystemInfo.Example.NET40\packages.config" />
  <repository path="..\src\Orc.SystemInfo.Tests\Orc.SystemInfo.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.SystemInfo.Tests\Orc.SystemInfo.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.SystemInfo\Orc.SystemInfo.NET40\packages.config" />
  <repository path="..\src\Orc.SystemInfo\Orc.SystemInfo.NET45\packages.config" />
</repositories>